body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
img{
    user-select: none;
}

#champDeBataille{
    width: 100%;
}

.battleground{
    background-color: green;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    position: absolute;
    background-image: url(Images/castle-insidefinal.png);
    background-size: cover;
    background-repeat:no-repeat;
}

#perso{
    width: 90px;
    height: 90px;
    position: relative;
    top: 308px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 100px;

}

.perso-container{
    display: flex;
    position: absolute;
    width: 71px;
    overflow: hidden;
}

#warrior{
    height: 90px;
    position: relative;
    right: 75px;
}

#enemie1{
    position: relative;
    left: 1195px;
    top: 200px;
    z-index: 100;
}

.blocsprite{
    width: 100px;
    height: 100px;
    background-image: url(./Images/ghostFin.png);
    animation: skeleton 8s steps(16) infinite;
}
@keyframes skeleton{
    from{
        background-position: 0px;
        left: 1195px;
    }

    to 
    {background-position: 1600px;
        left:  -40px;
    }
}

#sarcofage{
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    position: absolute;
    left: 1190px;
    bottom: 208px;
    z-index: 100;
}

#chaine1, #chaine2, #chaine3, #chaine4{
    height: 5%;
    display: flex;
    position: absolute;
    left: 149px;
    top: 60px;
}
#chaine2{
    left: 473px;
}
#chaine3{
    left: 797px;
}
#chaine4{
    left: 1124px;
}

#lanterne1, #lanterne2, #lanterne3, #lanterne4{
    height: 10%;
    display: flex;
    position: absolute;
    left: 134px;
    top: 85px;
}
#lanterne2{
    left: 458px;
}
#lanterne3{
    left: 782px;
}
#lanterne4{
    left: 1109px;
}

#citrouille{
    height: 10%;
    display: flex;
    position: absolute;
    left: 150px;
    bottom: 205px;
    opacity: 0.7;
}

#crane{
    height: 50px;
    position: relative;
    left: 1035px;
    top: 190px;  
}

#webg{
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    position: absolute;
    left: 1200px;
    bottom: 280px;
}

#webd{
    width: 100px;
    aspect-ratio: 1/1;
    position: relative;
    bottom: 130px;
}

#spiderweb{
    height: 10%;
    display: flex;
    position: absolute;
    left: 275px;
    top: 220px;
}

#sword{
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    aspect-ratio: 1/1;
    left: 899px;
    top: 60px;
    transform: rotate(35deg);  
}
/* ======================================== */
#candle, #candle1, #candle2, #candle3, #candle4, #candle5{
    width: 0px;
    height: 0px;
    background-color: #f08f5e;
    position: absolute;  
    left: 192px;
    top: 365px;
}
#candle1{  
    left: 168px;
    top: 365px;
}
#candle2,#candle3, #candle4, #candle5{ 
    left: 163px;
    top: 160px;
}
#candle3{  
    left: 487px;
}
#candle4{ 
    left: 810px;
}
#candle5{ 
    left: 1140px;
}

.flame, .flame1{
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, #fa0303fd, transparent);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: flicker 2s infinite alternate;
}
.flame2, .flame3, .flame4, .flame5{
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, #c5722efd, transparent);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: flicker 2s infinite alternate;
}
@keyframes flicker {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

@keyframes bat{
    0%{
        left: 1300px;
    }
    100%{
        left: -20px;
    } 
}
@keyframes bat2{
    0%{
        top: 0;
        transform: rotate(25deg);
    }
    5%{
        top: 10px;
        transform: rotate(-25deg);
    }
    10%{
        top: 20px;
        transform: rotate(25deg);
    }
    20%{
       top: 40px;
       transform: rotate(-25deg);
    }
    30%{
        top: 20px;
        transform: rotate(25deg);
    }
    40%{
        top: 50px;
        transform: rotate(-25deg);
    }
    50%{
        top: 10px;
        transform: rotate(25deg);
    }
    60%{
        top: 30px;
        transform: rotate(-25deg);
    }
    80%{
        top: 20px;
        transform: rotate(25deg);
    }
    90%{
        top: 30px;
        transform: rotate(-25deg);
    }
    100%{
        top: 0;
        transform: rotate(25deg);
    }
}
@keyframes bat3{
    0%{
        top: 0;
    }
    5%{
        top: 10px;
    }
    10%{
        top: 20px;
    }
    20%{
       top: 40px;
    }
    30%{
        top: 20px;
    }
    40%{
        top: 50px;
    }
    50%{
        top: 260px;
    }
    60%{
        top: 30px;
    }
    80%{
        top: 20px;
    }
    90%{
        top: 30px;
    }
    100%{
        top: 0;
    }
}

.batFly{
    animation: 3s infinite bat linear, 3s infinite bat2 linear, 5s infinite bat3 linear;
}

#bouton{
    background-color: red;
    width: max-content;
    position: absolute;
    bottom: 100px;
    left: 500px;
    z-index: 1000;
}